//Para utilizar una libreria, se ha de importar (abajo, se importa la libreria "nib").
@import "nib"
@import "normalize.styl"
@import "fonts.styl"

gris_claro = #D0D2D3
gris_mas_claro = #F0F0F0
gris_oscuro = #333333
rojo = #CC2F6F

/*
	Este es uno de los sistemas para hacer animaciones en CSS.
		Se pone "@keyframes", un espacio y nombre de la animación (puesto en la clase pertinente (esta pertenece a la clase ".state")).
 */
@keyframes state-progress
	//Aquí, ´tengo 2 estados (inicio(from) y fin(to)).
	from
		width 0%
		//Aquí podemos poner más propiedades.
	to
		width 100%
		//Aquí podemos poner más propiedades.
a
	text-decoration none
body
	font-family 'Varela Round', sans-serif
	font-size 16px
header
	//border-bottom 1px gris_claro solid
	height 3.6em
	line-height 3.6em
img
	vertical-align top
figure
	margin 0
ul
	padding 0
	margin 0
.actions-play
	padding 1em 0
	text-align center
	.action
		color gris_oscuro
		font-size 1rem
		margin 1em
.author
	font-size 0.8rem
	color #818181
	margin 0
.button_menu
	color gris_oscuro
	font-size 1.5rem
	margin-left 1.4rem
	position absolute
	//En la línea siguiente, lo que hacemos es heredar el estilo de "line-height" del padre más cercano que tenga esa propiedad (en este caso, la clase "header").
	line-height inherit
.cabecera-desktop
	display none
	height 3em
	line-height 1rem
	margin 0 auto
	overflow hidden
	padding 1em 0
	width 1000px
	.image
		display inline-block
		float left
		width 122px
.close-icon
	color gris_claro
	font-weight bold
	font-size 1.2em
	position absolute
	right .5em
	top .7em
.container
	padding 1.4rem
	text-align center
.description
	border-bottom 2px solid gris_claro
	padding 0.5em 0 1em 0
	text-align center
	.author
		font-size 0.9rem
		margin-top 0.3em
	.name
		font-size 1.2rem
.form-search
	position relative
.image
	position relative
.input
	border 1px solid gris_claro
	border-radius 5px
	height 2.5em
	padding 0 1em 0 2em
//Estas propiedades, afectan a los elementos con la clase ".action" dentro de los elementos con la clase ".listSongs". Estos elementos són solamente visibles en la versión "Desktop".
.listSongs
	list-style none
	.action
		color gris_claro
	.actions
		float right
	.item
		//color gris_claro
		border-bottom 1px solid gris_claro
		padding 1em 0
		position relative
		width 100%
.menu
	display none
.music .actions
	background rgba(black,.2)
	bottom 0
	font-size 1.5rem
	padding .85em 1em .3em 1em
	position absolute
	/*
		Usamos "left 0" i "right 0" para que la caja se expanda. Lo que
			hace eso, es ponerlo al margen "izquierdo", primero, y ponerlo
			al margen derecho, después (por lo que al intentar ponerlo
			aliniarlo a los dos laterales, la caja, se expande).
	 */
	left 0
	right 0
	text-align right
	/*
		El símbolo "&" hace referencia al elemento padre identado (en este caso ".actions").
		Se puede utilizar en todos los casos.
		Simplemente corresponde al contenido del elemento padre identado.
	 */
	.action
		color white
		margin-right .2em
		&:last-child
			margin-right 0
.name
	color gris_oscuro
	margin 0
.playing
	&.small
		margin 0 auto
		width 20rem
.playlist
	border-left 1px solid gris_claro
	display none
	float right
	padding 0 2em
	width 22em
	.name
		//padding 1em 0
		font-size 26px
	.author
		font-size 20px
		padding 0 0 1em 0
	.action
		font-size 14px
.progress
	margin 1em 0
	position relative
	.min
	.max
		font-size .8rem
		position absolute
		top -5px
	.min
		left 0
	.max
		right 0
	.total
		background gris_claro
		border-radius 5px
		height 3px
		margin 0 auto
		width 75%
	.state
		background rojo
		border-radius 5px
		height 3px
		position relative
		width 75%
		/*
			Esta propiedad, con los valores que tiene en el siguiente ejemplo, significa que el elemento con la clase ".state",
				tendrá una animación de 1 segundo con el nombre "state-progress" y se ejecutará infinitamente(será un bucle).
				También, con el valor "linear", indicamos que la aceleración sea lineal (osea, siempre con la misma velocidad y no al principio rapido y luego rápido(como es predeterminadamente.))
			Ponemos "250s"(s=segundos) porquè la canción de ejemplo dura 250 segundos (4:10 mín.).
		 */
		animation 250s state-progress infinite linear
		.circle
			background gris_oscuro
			border-radius 50%
			height 10px
			position absolute
			right 0
			top -3px
			width 10px
.progress_description_playing
	padding 1em
.search-icon
	color gris_claro
	left .5em
	position absolute
	top .9em
.search
	margin-right 2.2em
	position relative
.search
.user
	display inline-block
	float right
	.avatar
		float left
		height 38px
		width 38px
		& img
			border-radius 50%
	.name-avatar
		color gris_claro
		float left
		margin-left .5em
		position relative
		top 10px
		&:after
			border-left 6px solid transparent
			border-top 6px solid gris_claro
			border-right 6px solid transparent
			content ""
			display inline-block
			margin-left .4em
.song
	display inline-block
	margin-bottom 1.2rem
	margin-right 1rem
	&:nth-child(even)
		margin-right 0
.titlePag
	font-size 1.2rem
	margin 0
	text-align center

@media screen and (min-width:480px)
	body
		background #F3F3F3
	.cabecera-desktop
		display none
	.image
		img
			/*
				Ponemos "width 100%" en vez de "width auto" porque si ponemos
					"width auto", la imagen ocupará el tamaño original(640px),
					en este caso.
			 */
			width 100%
			/*
				Podemos poner "height auto", porque el navegador ya hace calculos
					para hacer el "height" automaticamente.
			 */

			height auto
	.playing
		&.medium
			width auto
	.playlist
		display none
	.song
		margin-right 0.8rem
		&:nth-child(even)
			margin-right 0.8rem

@media screen and (min-width:1000px)
	body
		background gris_mas_claro
	header
		background white
		height auto
		.button_menu
		.titlePag
			display none
	.cabecera-desktop
		display block
	.menu
		background gris_mas_claro
		border-top 1px gris_claro solid
		display block
		height 4.5em
		line-height 1rem
		overflow hidden
		.item
			float left
			list-style none
			a
				border-top 5px solid transparent
				color gris_oscuro
				display block
				cursor pointer
				padding 1rem
				text-transform uppercase
				&:hover
					border-top 5px solid gris_claro
		ul
			margin 0 auto
			width 1000px
	.music
		float left
		//padding 0 3.4em
		//width 23.4em
		width 32.5em
		.description
			display none
	.playing
		&.large
			margin 0 auto
			overflow hidden
			width 62.5em
	.playlist
		display block
	