@import "normalize.styl"

body
	font-size 16px
	//position absolute
	width 100%
figure
	margin 0
#pag1Pant1
	background-image url("../img/fondoIni.png")
	background-position 82% 2%
	background-repeat no-repeat
	//display block
	height 82%
	margin 0
	padding 0
	position relative
#eslogan
	color #FFF
	display inline-block
	font-family 'Varela Round', sans-serif
	font-size 1.4em
	font-weight normal
	margin 1.7em auto 1.4em auto
	text-align center
#formLogIn
	display none
#logo
	display block
	margin 4.8em auto auto auto
	position relative
	text-align center
#logo, #logo img
	height 60.2px
	width 193.4px
#botonesSociales
	margin-bottom 4em
#conectarFB
	background-color #3D5A98
	margin 0 auto 0.5em auto
#conectarTW
	background-color #5FA9DD
	margin 0 auto
#conectarFB, #conectarTW
	border-radius 3px
	font-size 0.8em
	height 2.9rem
	position relative
	width 13.7rem
#conectarFB #logoFB, #conectarTW #logoTW
	float left
	height 100%
	width 2.5rem
#conectarFB #textoConectFB
	border-left 2px solid #243554
#conectarTW #textoConectTW
	border-left 2px solid #478BB5
#conectarFB #textoConectFB, #conectarTW #textoConectTW
	color #FFF
	display inline-block
	font-family 'PT Sans', sans-serif
	font-size 1em
	height 70%
	line-height 2.08rem
	margin-top .45rem
	padding-left 0.4rem
#LogInICreateAccount #LinkLogIn
	background-color blue
#LogInICreateAccount #LinkCreateAccount
	background-color green
#LogInICreateAccount #LinkLogIn, #LogInICreateAccount #LinkCreateAccount
	display inline-block
#SectionLogInICreateAccount
	position relative
	